<!DOCTYPE html>
<html lang="en">

<body>
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>


    <p></p>
    <br>
    <a href="/">
        <img class="float-left" href="#page-top" src="img/mark_final2.png" alt="예방하면돼지" width="200dp" height="50dp"/>
    </a>
    <p></p>
    <br>
    <p></p>
    <p></p>
    <ul class="list-unstyled components">
        <!--        <p><strong><a href="/">메인 페이지</a></strong></p>-->
        <li>
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">현황 분석</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                    <a href="/status_1">시도별 발생</a>
                </li>
                <li>
                    <a href="/status_2">시군구별 발생</a>
                </li>
                <li>
                    <a href="/status_3">개체구분</a>
                </li>
                <li>
                    <a href="/status_4" target="_blank">발생지역 반경 확인</a>
                </li>
                <li>
                    <a href="/status_5">발생농가,사육농가</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">데이터 분석</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="/analysis_1">멧돼지 출몰 시기</a>
                </li>
                <li>
                    <a href="/analysis_2">수렵시기</a>
                </li>

            </ul>
        </li>
        <li>
            <a href="#serviceSubmenu" data-toggle="collapse" aria-expanded="false">ASF 관련 안내</a>
            <ul class="collapse list-unstyled" id="serviceSubmenu">
                <li>
                    <a href="/service_1">상황관리원 배치시기 안내</a>
                </li>

            </ul>
        </li>
    </ul>

</nav>
<!--<nav id="sidebar">-->
<!--    <div id="dismiss">-->
<!--        <i class="fas fa-arrow-left"></i>-->
<!--    </div>-->

<!--    <div class="sidebar-header">-->
<!--        <h3>예방하면돼지</h3>-->
<!--    </div>-->

<!--    <ul class="list-unstyled components">-->
<!--        <p><strong><a href="/"> 메인 페이지로 </a></strong></p>-->
<!--        <li class="active">-->
<!--            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">현황분석</a>-->
<!--            <ul class="collapse list-unstyled" id="homeSubmenu">-->
<!--                <li>-->
<!--                    <a href="/status_1">현황1</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">현황2</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">현황3</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->

<!--        <li>-->
<!--            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">데이터 분석</a>-->
<!--            <ul class="collapse list-unstyled" id="pageSubmenu">-->
<!--                <li>-->
<!--                    <a href="/analysis_1">분석1</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">분석2</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">분석3</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->
<!--        <li>-->
<!--            <a href="#ServiceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">서비스</a>-->
<!--            <ul class="collapse list-unstyled" id="ServiceSubmenu">-->
<!--                <li>-->
<!--                    <a href="#">서비스1</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">서비스2</a>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <a href="#">서비스3</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </li>-->

<!--    </ul>-->
<!--</nav>-->

</body>
</html>