<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>

    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>

    <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style>
                #map_92d173734a1fd898b6b7ae30d14bc8f1 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

</head>
<body>

<div class="folium-map" id="map_92d173734a1fd898b6b7ae30d14bc8f1" ></div>

</body>
<script>

            var map_92d173734a1fd898b6b7ae30d14bc8f1 = L.map(
                "map_92d173734a1fd898b6b7ae30d14bc8f1",
                {
                    center: [37.997654, 126.868309],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );





            var tile_layer_a2b1f6fc086558444ec2d0938490399d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_fc415ebed6d968c52eda5684aa38358b = L.marker(
                [38.1824708, 127.0664649],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_c3fd35146bf19e178c82dd9c364b0d88 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_fc415ebed6d968c52eda5684aa38358b.setIcon(icon_c3fd35146bf19e178c82dd9c364b0d88);


        var popup_9921a498c6ed336170aa182a84039f3b = L.popup({"maxWidth": "100%"});


            var html_bf2b06cf851bedf218d9aa5b5f8dc7dc = $(`<div id="html_bf2b06cf851bedf218d9aa5b5f8dc7dc" style="width: 100.0%; height: 100.0%;">농가명: 유유농장/ 주소: 경기도 연천군 신서면 답곡리/ 발생두수: 4마리</div>`)[0];
            popup_9921a498c6ed336170aa182a84039f3b.setContent(html_bf2b06cf851bedf218d9aa5b5f8dc7dc);


        marker_fc415ebed6d968c52eda5684aa38358b.bindPopup(popup_9921a498c6ed336170aa182a84039f3b)
        ;




            var marker_6e85befc40f2717b908dd8f335d06d45 = L.marker(
                [37.8942296, 126.7513057],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_c5457824b76deb9e39c6cee9a51aab02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6e85befc40f2717b908dd8f335d06d45.setIcon(icon_c5457824b76deb9e39c6cee9a51aab02);


        var popup_9ffb560596ef497143a9483137acc393 = L.popup({"maxWidth": "100%"});


            var html_9346957a3345f9362aafa6eeb110412a = $(`<div id="html_9346957a3345f9362aafa6eeb110412a" style="width: 100.0%; height: 100.0%;">농가명: 강구복/ 주소: 경기도 파주시 문산읍 마정리/ 발생두수: 6마리</div>`)[0];
            popup_9ffb560596ef497143a9483137acc393.setContent(html_9346957a3345f9362aafa6eeb110412a);


        marker_6e85befc40f2717b908dd8f335d06d45.bindPopup(popup_9ffb560596ef497143a9483137acc393)
        ;




            var marker_63874fbcab3ffb96f3a23bbbf47ef41e = L.marker(
                [37.7151981, 126.5946809],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_c5d1f370c5a2d5002dfe225f191ad7a2 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_63874fbcab3ffb96f3a23bbbf47ef41e.setIcon(icon_c5d1f370c5a2d5002dfe225f191ad7a2);


        var popup_cea4f647d8987838dd95df77c510d315 = L.popup({"maxWidth": "100%"});


            var html_0ed80aac900a69beb8e02a47daaff686 = $(`<div id="html_0ed80aac900a69beb8e02a47daaff686" style="width: 100.0%; height: 100.0%;">농가명: 벧엘농장/ 주소: 경기도 김포시 통진읍 고정리/ 발생두수: 9마리</div>`)[0];
            popup_cea4f647d8987838dd95df77c510d315.setContent(html_0ed80aac900a69beb8e02a47daaff686);


        marker_63874fbcab3ffb96f3a23bbbf47ef41e.bindPopup(popup_cea4f647d8987838dd95df77c510d315)
        ;




            var marker_c62d14e030feea39208dee201ecb879a = L.marker(
                [37.9877811, 126.9006824],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_380a67b1999281909e0ec2028645e0bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c62d14e030feea39208dee201ecb879a.setIcon(icon_380a67b1999281909e0ec2028645e0bf);


        var popup_aae222088b0486e6d8b2f27cf54f5836 = L.popup({"maxWidth": "100%"});


            var html_65d4ba9fe0650e18521750d0aad3867f = $(`<div id="html_65d4ba9fe0650e18521750d0aad3867f" style="width: 100.0%; height: 100.0%;">농가명: 박순섭/ 주소: 경기도 파주시 적성면 주월리/ 발생두수: 1마리</div>`)[0];
            popup_aae222088b0486e6d8b2f27cf54f5836.setContent(html_65d4ba9fe0650e18521750d0aad3867f);


        marker_c62d14e030feea39208dee201ecb879a.bindPopup(popup_aae222088b0486e6d8b2f27cf54f5836)
        ;




            var marker_e263b2f18280e3998b02b922c09f76d5 = L.marker(
                [37.894998, 126.8524583],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_0adb76ac9eea076761d549c3e0ef855d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e263b2f18280e3998b02b922c09f76d5.setIcon(icon_0adb76ac9eea076761d549c3e0ef855d);


        var popup_4136548adc14604473d563b64b75f0d0 = L.popup({"maxWidth": "100%"});


            var html_ac91d629c97f435ebcf1c8ecd393fe0d = $(`<div id="html_ac91d629c97f435ebcf1c8ecd393fe0d" style="width: 100.0%; height: 100.0%;">농가명: 나기영/ 주소: 경기도 파주시 파평면 마산리/ 발생두수: 6마리</div>`)[0];
            popup_4136548adc14604473d563b64b75f0d0.setContent(html_ac91d629c97f435ebcf1c8ecd393fe0d);


        marker_e263b2f18280e3998b02b922c09f76d5.bindPopup(popup_4136548adc14604473d563b64b75f0d0)
        ;




            var marker_06b526f57955371531758e4f3d73e19e = L.marker(
                [37.9651652, 126.8757324],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_dad57d9b0be27922b1def243d62e526a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_06b526f57955371531758e4f3d73e19e.setIcon(icon_dad57d9b0be27922b1def243d62e526a);


        var popup_640113543a40479b7276fe7502140ce3 = L.popup({"maxWidth": "100%"});


            var html_9ab9c97038fb3c17dd376dcd768e203a = $(`<div id="html_9ab9c97038fb3c17dd376dcd768e203a" style="width: 100.0%; height: 100.0%;">농가명: 한아름농장/ 주소: 경기도 파주시 적성면 자장리/ 발생두수: 2마리</div>`)[0];
            popup_640113543a40479b7276fe7502140ce3.setContent(html_9ab9c97038fb3c17dd376dcd768e203a);


        marker_06b526f57955371531758e4f3d73e19e.bindPopup(popup_640113543a40479b7276fe7502140ce3)
        ;




            var marker_9523075d7abdb303087fc4c38d511b22 = L.marker(
                [37.6747577, 126.5852875],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_010c8bedfdbfb3f8899ae3f47eeeff56 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9523075d7abdb303087fc4c38d511b22.setIcon(icon_010c8bedfdbfb3f8899ae3f47eeeff56);


        var popup_cefb5917b52f536b8c452d8214137cbf = L.popup({"maxWidth": "100%"});


            var html_e7fea6c96a7b2304ff1094e34c9197bd = $(`<div id="html_e7fea6c96a7b2304ff1094e34c9197bd" style="width: 100.0%; height: 100.0%;">농가명: 길농장/ 주소: 경기도 김포시 통진읍 가현리/ 발생두수: 9마리</div>`)[0];
            popup_cefb5917b52f536b8c452d8214137cbf.setContent(html_e7fea6c96a7b2304ff1094e34c9197bd);


        marker_9523075d7abdb303087fc4c38d511b22.bindPopup(popup_cefb5917b52f536b8c452d8214137cbf)
        ;




            var marker_10b06645468a2d62756da2643cd84adf = L.marker(
                [38.0116845, 126.8902133],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_da2512a1b912e94e2cf1ec8f38e5aba5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_10b06645468a2d62756da2643cd84adf.setIcon(icon_da2512a1b912e94e2cf1ec8f38e5aba5);


        var popup_be5eb63fe55d4dcaaeabca1f20ce907c = L.popup({"maxWidth": "100%"});


            var html_bcb599b75be57a6fbed98e4120fc1a5f = $(`<div id="html_bcb599b75be57a6fbed98e4120fc1a5f" style="width: 100.0%; height: 100.0%;">농가명: 21세기농장/ 주소: 경기도 연천군 백학면 전동리/ 발생두수: 2마리</div>`)[0];
            popup_be5eb63fe55d4dcaaeabca1f20ce907c.setContent(html_bcb599b75be57a6fbed98e4120fc1a5f);


        marker_10b06645468a2d62756da2643cd84adf.bindPopup(popup_be5eb63fe55d4dcaaeabca1f20ce907c)
        ;




            var marker_0f5871c1638d112f0bc55302e98e0e66 = L.marker(
                [37.7441813, 126.7128823],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var icon_e2382441ef2da956b35fe9aff4d356ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0f5871c1638d112f0bc55302e98e0e66.setIcon(icon_e2382441ef2da956b35fe9aff4d356ad);


        var popup_a5f024c5950447d6aa4cb4856f5f4cd4 = L.popup({"maxWidth": "100%"});


            var html_26a28dda83afc76d46bbea46e0ead772 = $(`<div id="html_26a28dda83afc76d46bbea46e0ead772" style="width: 100.0%; height: 100.0%;">농가명: 수향농장/ 주소: 경기도 파주시 연다산동/ 발생두수: 2마리</div>`)[0];
            popup_a5f024c5950447d6aa4cb4856f5f4cd4.setContent(html_26a28dda83afc76d46bbea46e0ead772);


        marker_0f5871c1638d112f0bc55302e98e0e66.bindPopup(popup_a5f024c5950447d6aa4cb4856f5f4cd4)
        ;




            var circle_b2e4168e3a330c01b211bffda67732d2 = L.circle(
                [38.1824708, 127.0664649],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_b2e4168e3a330c01b211bffda67732d2.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_1e6477f31317490da1b7e39b7bdd9cc6 = L.circle(
                [37.8942296, 126.7513057],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_1e6477f31317490da1b7e39b7bdd9cc6.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_25548024f4a56ed84ffff696b4cf9348 = L.circle(
                [37.7151981, 126.5946809],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_25548024f4a56ed84ffff696b4cf9348.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_655e9608aeab0c3c64a8526b7929ea40 = L.circle(
                [37.9877811, 126.9006824],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_655e9608aeab0c3c64a8526b7929ea40.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_3d861135f439a9f17ca366c3d034a8cd = L.circle(
                [37.894998, 126.8524583],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_3d861135f439a9f17ca366c3d034a8cd.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_f2d5799a46c4e4d2c4edfe47565bae75 = L.circle(
                [37.9651652, 126.8757324],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_f2d5799a46c4e4d2c4edfe47565bae75.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_dfc98660deb66fdeec580f39ac8868bc = L.circle(
                [37.6747577, 126.5852875],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_dfc98660deb66fdeec580f39ac8868bc.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_bcfc272e08de21e60d65f289d5b5288b = L.circle(
                [38.0116845, 126.8902133],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_bcfc272e08de21e60d65f289d5b5288b.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var circle_639108ecf1f1c50fb4f9ac34ea51cd14 = L.circle(
                [37.7441813, 126.7128823],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 3000, "stroke": true, "weight": 3}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            circle_639108ecf1f1c50fb4f9ac34ea51cd14.bindTooltip(
                `<div>
                     3km
                 </div>`,
                {"sticky": true}
            );


            var marker_f3e97f218918d4afe35558356b0ea2fb = L.marker(
                [38.161863, 127.073799],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_a9fd85d59a33e8888a2ab083933ef0e9 = L.marker(
                [38.176665, 127.072595],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_54a9f5c88a6c8eb624b7bca3ccf5e5b5 = L.marker(
                [38.168561, 127.094143],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_1899199b1f62424a5ec5007c9ec3fba9 = L.marker(
                [38.17449, 127.078773],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_78c323d8928f06d5f07c54415951a07f = L.marker(
                [38.160343, 127.070788],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_6b2eae915d01f73303ad5e318ab444e6 = L.marker(
                [38.171317, 127.070133],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_2758482b0b76e2867222061c82829ff9 = L.marker(
                [38.199402, 127.084345],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_0286d047b7850f95309b3b59bf67bfc3 = L.marker(
                [38.20293, 127.08449],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_4602f80bdec4178be4819ab425b8d0d6 = L.marker(
                [38.180441, 127.066175],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_90a50d376cd0dee47fcab411f7d48f7d = L.marker(
                [38.197501, 127.040378],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_04b8176a69f6455df1a84bc01626b9d1 = L.marker(
                [38.205409, 127.049089],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_dd42799b73412725cd2b8eb44495b928 = L.marker(
                [38.160711, 127.054225],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_6a7464dfcb8aeb2d3fec4b3acb693a70 = L.marker(
                [38.192917, 127.040513],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_e17ae341f1ce3b880c5e57f70bc5d99b = L.marker(
                [38.181825, 127.059993],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_483da902e01954320b246f21ddb88dad = L.marker(
                [38.182788, 127.059883],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_91fa620329d798c91b1ae0f0238176cf = L.marker(
                [38.187438, 127.058519],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_7a8401f6a6877c4862c78ff9bb03f8c6 = L.marker(
                [38.18467, 127.058782],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_54cc453c7cdd6670884690dfc43aed01 = L.marker(
                [38.18667, 127.06617],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_8833dee6001722a00459d6469723ef32 = L.marker(
                [38.17342, 127.07275],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_e05b563b5f7f6285083335b8d27277d8 = L.marker(
                [38.162468, 127.062835],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_e63ef1ed21404b030cc277a58c3c90b0 = L.marker(
                [38.180837, 127.064639],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_23a96dd147bcd93e69a07dd877e73fd0 = L.marker(
                [38.199116, 127.072189],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_ba443cb71408b36b4d16f983be5111d5 = L.marker(
                [38.165933, 127.052163],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_4c1fb18994c7e44a091c8ca820b3ae5e = L.marker(
                [38.2071, 127.066179],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_65da195f930f11c8e70700956b8d5037 = L.marker(
                [38.197317, 127.040001],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_95145a79d91a78779e1643c8b2e31f2f = L.marker(
                [38.197317, 127.040001],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_95c649107e59878a7378d85ea9e6606f = L.marker(
                [38.197317, 127.040001],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_af870d74b52c13d74b4b919d2d593c5f = L.marker(
                [38.197317, 127.040001],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_630d90282298190ca9637b2170c4356c = L.marker(
                [38.197317, 127.040001],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_f46fa52b87578795e5ffe7c1fa1cd231 = L.marker(
                [37.901365, 126.725543],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_8e3e7718574db12f6a9d65f44cc189c6 = L.marker(
                [37.916952, 126.767699],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_569ac0c87138f51f04aa6a9cad2a25d8 = L.marker(
                [37.915344, 126.766245],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_62f97bc864e265e7eace7dd975501882 = L.marker(
                [37.916062, 126.766955],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_0627e35654f57fa6e1c7f79ebf0ba803 = L.marker(
                [37.915454, 126.769895],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_2bd30730f6f40ae25ed7c4de18637020 = L.marker(
                [37.885098, 126.729952],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_0de3ebd50ea26eb3a55713fdf7976545 = L.marker(
                [37.91368, 126.746615],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_896eeec57d277250d43f90a289c184ce = L.marker(
                [37.919556, 126.760609],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_ba47467f80edd0ff5d15e480df7fa52a = L.marker(
                [37.901151, 126.728085],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_f6cdb643008a3f7f733fdbf3c98365b6 = L.marker(
                [37.901777, 126.720715],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_5729f37964d860851be64524a7a9d07a = L.marker(
                [37.873872, 126.731323],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_645bdb82dcf98ef01216e1ef2aa19265 = L.marker(
                [37.874221, 126.730834],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_52da1aa1ca8f0782cdfb288d20fc5b89 = L.marker(
                [38.009077, 126.882073],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_9023bbb4b6a57100d3bba78130e0caed = L.marker(
                [37.997654, 126.868309],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_1428a51caaeb78d0cd51117606d20b36 = L.marker(
                [38.0195, 126.8955],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_72e9969ec675c1021227a6dc09473c99 = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_9c16d457cfd1b45a3da06a0025d121bf = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_363dd58561b84371aa5b3bc306a05ac4 = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_adff7dcb0eedbcae72b21f18a5798c83 = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_9359352bfc5f75a5cfcbf309875dd2f2 = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_c53418982b0e6def135cb4b767897b26 = L.marker(
                [38.024474, 126.894],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_c53cac8a33793817c8e37b5d0f1504bf = L.marker(
                [38.0243, 126.8939],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_7b34bf43a0b1cd67bdc80336367883c1 = L.marker(
                [38.00052, 126.862036],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_55875fb4e72edd4e9224d5faa9e0dfad = L.marker(
                [38.011901, 126.883652],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_dde9c524e682ef97f973cede98998cc2 = L.marker(
                [38.014481, 126.892533],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_f3e1717aff4f3fb4c8e4ebc0f561d698 = L.marker(
                [38.032665, 126.893226],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_1e54e07a34dfceef161c982bbd93602f = L.marker(
                [38.000179, 126.860965],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_46ffb6d535a3ecfbee22897abdab7612 = L.marker(
                [37.997079, 126.868066],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_f4b5c2142b1adec6a72193696b4ce0e0 = L.marker(
                [38.012491, 126.868214],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);


            var marker_da41068a2939ffb926d2da68ab9ffca0 = L.marker(
                [38.009077, 126.882073],
                {}
            ).addTo(map_92d173734a1fd898b6b7ae30d14bc8f1);

</script>